#container {
  width:960px;
  margin:20px auto;
}
.col-sm-12 {
  margin-bottom:20px;
}
.single {
    float:none;
    margin:0 auto;
}
.row.text-center > div {
        display: inline-block;
        float: none;
    }

.nav>li.nonactive>a:hover, .nav>li.nonactive>a:focus {
    background-color: transparent;
}

a {
	font-family: 'Abril Fatface' serif;
	font-weight: bold;
	font-size:24px;"
}