<div class="container" style="margin-top: 0px; background-color: yellow;width:80%;left:10%;right:10%;">
		<div class="col-md-1" style="margin-top: 0px;"></div>

        <div class="col-md-10" style="margin-top: 0px; background-color: red;text-align: center;">
		    
		    <h1>Weather Station</h1>
			<a href='/'>Home</a>
			<a href='/about/'>About</a>
			<a href='/contact/'>Contact</a>
			<a href='/rain/'>Rain</a>
			<a href='/temp_hum/'>TempHum</a>
			
        </div>

        <div class="col-md-1" style="margin-top: 0px;"></div>

	
</div>